*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 1260px;
    height: 600px;
    border: 5px solid grey;
}
#blue{
    background-color: #17A2B8;
    height: 160px;
    /* border: 10px dotted red; */
}
#blue img{
    height: 100px;
    width: 100px;
}
#white{

}
#location{
    display: flex;
}
#edit{
    display: flex;
}