/* this section features the wildcard and the body */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* this section features everything to do with the Nav-bar */
.nav-bar {
    height: 40px;
    background-image: linear-gradient(#111111, #1d2029);
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

#nav-sub {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar h1,
.nav-bar a,
button {
    color: white;
}

#nav-links {
    display: flex;
    gap: 30px;
    margin-left: 50px;
}

button {
    background-color: #17A2B8;
    padding: 3px 5px;
    border: none;
}

/* this section features everything to do with the column containers */
.column-container {
    display: flex;
    width: 100%;
    gap: 150px;
    margin: 0px 300px;
}

.column-1 {
    width: 500px;
}

.column-1>div,
.column-2>div{
    margin-bottom: 75px;
}

.column-2 {
    width: 300px;
}
/* this section has everything to do with the content part of the containers */
.body {
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    padding: 15px 25px;
}

#profile-card>.body {
    padding: 25px 25px 15px 25px;
}

/* this section has everything to do with the headers */
#profile-header {
    height: 70px;
    background-image: linear-gradient(#17A2B8, #17A2B8, #1AB4CC);
}

.header {
    height: 60px;
    background-image: linear-gradient(#333333, #333333, #3F3F3F);
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-header{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.header-text {
    color: white;
    font-size: 24px;
}

#requests-icon {
    background-color: lightgray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 4px 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
}

#connections-icon {
    background-color: lightgrey;
    margin-right: 10px;
    border-radius: 50px;
    padding: 3px 5px;
    font-weight: bold;
}


/* this section features images */
#user-pfp {
    height: 80px;
    width: 80px;
}

.body img {
    height: 16px;
    padding-right: 5px;
}

#user-pfp {
    margin: 20px;
    border: 10px double white;
    border-radius: 50%;
    background-color: #111111;
}

#pfp {
    border-radius: 50%;
    height: 60px;
    width: 65px;
}
#black-hills{
    width: 192px;
    height: 74px;
    margin-bottom: 20px;
}
#scuba{
    width: 192px;
    height: 122px;
}

/* idk where to put stuff in here yet */
#columns-list>li {
    font-size: 24px;
    border-bottom: 3px solid lightgray;
    margin-bottom: 20px;
    font-weight: bold;
}
#profile-body h1,
#profile-body h3,
#profile-body p{
    margin-top: 10px;
}
#view-more{
    border: 3px solid lightgray;
    padding: 3px 5px;
    font-weight: bold;
    font-size: 20px;
}
#education-body>h4,
#education-body>p{
    margin-bottom: 10px;
}
#education-body>h4{
    color: grey;
}
/* .connections{
    display: flex;
    align-items: center;
    gap: 15px;
} */