*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #E4FCFF;
}
h1{
    color: #484855;
    text-align: center;
    font-size: 60px;
    padding: 15px 0px 0px 0px;/*in the future, always apply the bottom right princple*/
    font-weight:bolder;
}
p{
    text-align: center;
    color: #6C6C55;
    padding: 0px 0px 0px 15px;
    font-size: 20px;
}
.container{
    background-color: bisque;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#first{
    background-color: #6CD8FF;
}
#second{
    background-color: #D890AA;
    justify-content: space-evenly;
}
#third{
    background-color: #FCFCFC;
}
img{
    height: 225px;
    width: 225px;
}