*{
    margin: 10px;
}
#search{
    border: 1px solid #159C9E;
    color: #159C9E;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    font-size: 30px;
}
#plus{
    color: white;
    background-color: #00D1B2;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 32px;
    border: none;
}
#create{
    background-color: #2B78E4;
    height: 40px;
    width: 200px;
    font-size: 18px;
    color: white;
    border: 3px solid black;
    box-shadow: 3px 3px 0px black;
}